.card-cocktail {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin: 20px 15px;
  opacity: 0.9;
}

.card-text a {
  color: white;
  position: relative;
  top: 260px;
  left: 25px;
  font-size: 30px;
  opacity: 1;
}
